@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<html>
<body>

<div id="container">
    <div ng-view></div>
    <!--<div class="col-xs-6 col-lg-4 text-lg-right">
        <button type="button" class="btn-info btn pull-right">Login</button>
    </div>
    -->
</div>
<footer class="text-center">
    <p> IIIB3 ★ Magic Quiz Game Cortez ★</p>
</footer>

</body>
</html>