<div class="container">
    <div class="filter-wrapper col-lg-offset-2 col-md-offset-1 col-md-2 col-sm-4 col-xs-12 ng-scope " id="filter-wrapper">
        <ul class="filter-list panel-group" id="filters" role="tablist" aria-multiselectable="true">
            <li>
                <h4 class="filter-heading panel">Find job by</h4>
            </li>
            <li class="filter-item panel">
                <input ng-model="book.title" class="form-control" type="text" placeholder="Titlu">
            </li>
            <li class="filter-item panel">
                <input ng-model="book.authorName" class="form-control" type="text" placeholder="Nume autor">
            </li>
            <li class="filter-item panel">
                <input ng-model="book.publishingYear" class="form-control" type="text" placeholder="Anul publicarii">
            </li>
            <li ng-if="sessionData.isLoggedIn">
                <div class="row">
                    <button type="button" class="add-job-btn pull-right btn btn-default btn-sm " data-toggle="modal" data-target="#addBookModal" data-backdrop="static" data-keyboard="false">
                        <span class="glyphicon glyphicon-plus"></span>
                        Adauga o carte
                    </button>
                </div>

                <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" add-book-directive>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <ul book-item-directive class="right panel-group col-lg-offset-right-2 col-lg-6 col-md-8 col-md-offset-right-1 col-sm-8 col-xs-12 pull-right" ng-if="sessionData.role === 'User' || sessionData.role === '' " id="accordion" role="tablist" aria-multiselectable="true"></ul>
</div>