<li ng-repeat="book in books.bookList | filter:book" class="list-item" ng-if="!book.isDeleted">
    <div class="list-item-heading panel-heading row">

        <img class="list-item-picture col-xs-2" ng-src="">

        <div class="list-item-heading-text col-xs-10">

            <p class="panel-button">
                <h3>
                    <a ng-href="#/books:{{book.id}} ">{{ book.title }}</a>
                </h3>
            </p>

            <div class="panel-heading-details">
                <span ng-if="book.authorName" class="details-glyph glyphicon glyphicon-map-marker"></span>
                <p>{{ book.authorName }}</p>
                <span ng-if="book.publishingYear" class="details-glyph glyphicon glyphicon-briefcase"></span>
                <p>{{ book.publishingYear }}</p>
            </div>
        </div>
    </div>
</li>