<div class="container">
    <div class="login-container">
        <div id="output"></div>
        <div class="avatar"></div>
        <div class="form-box">
            <form ng-submit="log.login()" class="css-form" name="login" novalidate>
                <label for="user">Nume utilizator</label>
                <input name="user" type="text" id="user" placeholder="Nume utilizator" ng-model="log.username" required="">
                <div ng-show="login.$submitted || login.user.$touched">
                    <span ng-show="login.user.$error.required" class="help-block">Numele de utilizator nu poate fi null.</span>
                </div>
                <label for="password">Parola</label>
                <input name="password" type="password" id="password" placeholder="Parola" ng-model="log.password" required="">
                <div ng-show="login.$submitted || login.password.$touched">
                    <span ng-show="login.password.$error.required" class="help-block">Parola nu poate fi nula.</span>
                </div>
                <div class="text-danger" ng-show="log.show">
                    <p>{{log.error}}</p>
                </div>
                <p class="text-center text-muted" loading-request-directive ng-if="log.logging">
                    <br/>
                    <span class="fa fa-spinner fa-spin fa-4x"></span>
                    <br /><br />
                    {{log.loadingLogin}}
                </p>
                <button type="submit" class="btn btn-info btn-block login" ng-disabled="login.$invalid || log.logging">Login</button>
            </form>
        </div>
    </div>
    <h3>{{message}}</h3>
</div>