<div class="container">
    <div class="text-danger" ng-show="reg.error">
        <h3>{{reg.error}}</h3>
    </div>
    <div class="login-container">
        <div id="output"></div>
        <div class="avatar"></div>
        <div class="form-box">
            <form ng-submit="reg.register()" class="css-form" name="register" novalidate>
                <label for="user">Nume utilizator</label>
                <input name="user" type="text" id="user" placeholder="Nume utilizator" ng-model="reg.username" ng-minlength="3" ng-maxlength="8" required="">
                <div ng-show="register.$submitted || register.user.$touched">
                    <span ng-show="register.user.$error.required" class="help-block">Numele de utilizator nu poate fi null.</span>
                    <span ng-show="register.user.$error.minlength || register.user.$error.maxlength" class="help-block">Numele de utilizator trebuie sa aiba intre 3 si 8 caractere.</span>
                </div>
                <label for="email">Email</label>
                <input name="email" type="email" id="email" placeholder="Email" ng-model="reg.email" ng-pattern="emailFormat" required="">
                <div ng-show="register.$submitted || register.email.$touched">
                    <span ng-show="register.email.$error.required" class="help-block">Email-ul nu poate fi null.</span>
                    <span ng-show="register.email.$error.pattern" class="help-block">Introduceti un email valid(sa fie de forma: example@example.com).</span>
                </div>
                <label for="password">Parola</label>
                <input name="password" type="password" id="password" placeholder="Parola" ng-model="reg.password" ng-pattern="passwordFormat" required="">
                <div ng-show="register.$submitted || register.password.$touched">
                    <span ng-show="register.password.$error.required" class="help-block">Parola nu poate fi nula.</span>
                    <span ng-show="register.password.$error.pattern" class="help-block">Parola trebuie sa aiba intre 6 si 20 caractere lungime, trebuie sa contina cel putin un caracter cu majuscula, unul fara majuscula si o cifra de la 0 la 9.</span>
                </div>
                <label for="confirmPassword">Confirma parola</label>
                <input name="confirmPassword" type="password" id="confirmPassword" placeholder="Confirmare parola" ng-model="reg.confirmPassword" required="" password-Match-Directive="reg.password">
                <div ng-show="register.$submitted || register.confirmPassword.$touched">
                    <span ng-show="register.confirmPassword.$error.required" class="help-block">Confirmarea parolei nu poate fi nula.</span>
                    <span ng-show="register.confirmPassword.$error.match" class="help-block">Confirmare eronata a parolei. Introduceti aceeasi parola ca mai sus.</span>
                </div>
                <label class="datepicker" for="birthday">Zi de nastere</label>
                <input class="datepicker" type="date" placeholder="Zi de nastere" id="birthday" ng-model="reg.birthdate" required=""/>
                <label class="radio-element" for="signup-as-author-btn">Inregistrare ca autor</label>
                <input class="radio-element" ng-model="reg.roleSignup" type="radio" name="role" value="author" id="signup-as-author-btn" required>
                <label class="radio-element" for="signup-as-user-btn">Inregistrare ca utilizator</label>
                <input class="radio-element" ng-model="reg.roleSignup" type="radio" name="role" value="user" id="signup-as-user-btn" required>
                <label for="penName" ng-if="reg.roleSignup==='author'">Pseudonim</label>
                <input name="penName" type="text" id="penName" placeholder="Pseudonim" ng-model="reg.penName" ng-minlength="3" ng-maxlength="8" ng-if="reg.roleSignup==='author'">
                <div ng-show="register.$submitted || register.penName.$touched">
                    <span ng-show="register.penName.$error.minlength || register.penName.$error.maxlength" class="help-block">Pseudonimul trebuie sa aiba intre 3 si 8 caractere.</span>
                </div>
                <button type="submit" class="btn btn-info btn-block login" ng-disabled="register.$invalid">Register</button>
            </form>
        </div>
    </div>
    <h3>{{message}}</h3>
</div>