body {
    background: #FFF;
    height: 100%;
    width: 100%;
}

label { font-size: 20px; }

.error { background-color: #FFB6C1; }

.titlu {
    font-size: 30px;
    font-weight: bold;
}

.question-style {
    color: #696969;
    font-size: 20px;
    font-weight: bold;
}

.btn-default {
    background: #1abc9c;
    border: #1abc9c;
    font-size: 20px;
}

.btn-no {
    background: salmon;
    border: salmon;
    font-size: 20px;
}

.bnt-no {
    background: salmon;
    border: salmon;
}

.glyphicon { font-size: 20px; }

.warningMessage {
    color: red;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0.5%;
    margin-top: 0.7%;
}

.nav-pills > li > a > span.glyphicon {
    color: #1abc9c;
    font-size: 40px;
}

.nav-pills {
    padding-bottom: 4%;
    padding-top: 3%;
}

hr { margin-top: -2%; }

.page {
    font-size: 20px;
    font-weight: bold;
}

.txt-final {
    padding-bottom: 2.5%;
    padding-top: 2.5%;
}

.btn-final-no {
    background-color: salmon;
    margin-bottom: 10%;
}

.btn-final-yes { margin-bottom: 5%; }

.panel-final.well-ms { height: auto; }

.panel-final.txt-final { align-self: center; }